{% extends 'layout/base.html' %}

{% block content %}
<head>
    <link href="{{ url_for('static', filename='css/cashier.css') }}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
</head>
<h1 class="cashier" style="font-weight: bold">THANH TOÁN HÓA ĐƠN</h1>
<hr>

<!--action là đường dẫn của cái hàm thực thi-->
<form class="thanh_toan" method="post" enctype="multipart/form-data" action="/cashier">
    <div class="thanh_toan_1">
        <input type="text" class="form-control" required id="submit_phieuKham_id"
               placeholder="Nhập mã phiếu khám của bệnh nhân..."
               name="submit_phieuKham_id">
    </div>
    <div class="mt-1 mb-1">
        <button type="submit" class="btn btn-primary">Thanh toán</button>
    </div>
</form>

<div class="r-content">
    <div class="r-sub-content mb-0">
        <div class="row r-title" style="font-weight: bold">
            <p>HÓA ĐƠN</p>
        </div>
        <hr>

        <div class="r-sub-content-1">
            <div class="row">
                <div class="col-md-6 mt-2 mb-2">
                    Họ tên:
                </div>
                <div class="col-md-6 mt-2 mb-2">
                    Ngày khám:
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mt-2 mb-2">
                    Tiền khám:
                </div>
                <div class="col-md-6 mt-2 mb-2">
                    Tiền thuốc:
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12 mt-2 mb-2" style="font-weight: bold">
                    Tổng tiền:
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}