{% extends 'layout/base.html' %}

{% block content %}

{% if current_user.is_authenticated and current_user.user_role.__eq__("UserRole.Doctor") %}
<head>
    <link href="{{ url_for('static', filename='css/doctor.css') }}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
</head>

<div class="content">
    <div class="doctor row">
        <div class="doctor-left col-md-4 col-sm-12 text-center">
            <form method="post" enctype="multipart/form-data" action="/doctor_get_user_by_user_id">
                <div class="mb-3 mt-3">
                    <div>
                        <h4 style="font-weight:bold">Tra cứu bệnh nhân</h4>
                        <p>
                            Nhớ nhập lại mã bệnh nhân sau khi thêm thuốc cho bệnh nhân đó
                            <br>
                            <br>
                            Nếu nhập sai thì vui lòng bảo bệnh nhân đừng thanh toán và ra đăng ký khám lại vào hôm sau
                        </p>
                    </div>

                    <div class="m-user mb-3 mt-3">
                        <label for="u-id" class="lb-id form-label">Mã bệnh nhân:</label>
                        <input type="text" class="form-control" id="doctor_get_user_by_user_id"
                               placeholder="Nhập mã bệnh nhân" name="doctor_get_user_by_user_id">
                    </div>
                </div>
                <hr>
                <div class="mb-3 mt-3">
                    <div class="mb-3 mt-3">
                        <div>
                            <h4 style="font-weight:bold">Tra cứu thuốc</h4>
                        </div>
                        <div class="m-medicine mb-3 mt-3">
                            <label class="form-label">Nhập thuốc:</label>
                            <input class="form-control" list="medicines" name="medicine" id="medicine">
                            <datalist id="medicines">
                                {% for t in medicines %}
                                <option value="{{ t.tenThuoc }}">
                                    {% endfor %}
                            </datalist>
                        </div>
                        <div class="m-quantity mb-2 mt-2">
                            <label class="form-label">Số lượng:</label>
                            <input type="number" min="1" value="1" class="form-control" name="so_luong_thuoc"/>
                        </div>
                    </div>
                    <button class="bt-add btn btn-primary" type="submit">Thêm</button>
                </div>
                {% if err_msg %}
                <div class="alert alert-danger">
                    {{ err_msg }}
                </div>
                {% endif %}
            </form>
        </div>


        <div class="doctor-right col-md-8 col-sm-12">
            <form method="post" enctype="multipart/form-data" action="/doctor_save_phieu_kham">
                <div>
                    <h2 style="font-weight: bold">PHIẾU KHÁM BỆNH</h2>
                    <p>
                        Nhớ nhập lại mã phiếu khám sau khi lưu phiếu cho bệnh nhân
                        <br>
                        <br>
                        Nếu nhập sai thì vui lòng bảo bệnh nhân đừng thanh toán và ra đăng ký khám lại vào hôm sau
                    </p>
                    <hr>
                    <div class="container-fluid">
                        {% if user_id_view %}
                        <div style="font-weight: bold; font-size: 25px">
                            Phiếu khám của bệnh nhân: <span style="color: red">{{user_id_view[0][1]}}</span>
                        </div>
                        {% endif %}
                        <!--                        <div class="m-phieukham-id mb-3 mt-3">-->
                        <!--                            <label for="phieukham-id" class="lb-id form-label">Mã phiếu khám:</label>-->
                        <!--                            <input type="text" class="form-control" id="ma_phieu_kham"-->
                        <!--                                   placeholder="Nhập mã phiếu khám" name="ma_phieu_kham">-->
                        <!--                        </div>-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3 mt-3">
                                    <div class="m-symptom">
                                        <label for="symptom" class="form-label">Triệu chứng:</label>
                                        <input type="text" class="form-control" id="trieu_chung"
                                               placeholder="Nhập triệu chứng"
                                               name="trieu_chung">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="mb-3 mt-3">
                                    <div class="m-diagnostic">
                                        <label class="form-label">Chuẩn đoán:</label>
                                        <select class="form-select" name="chuan_doan" id="diseases">
                                            {% for d in diseases %}
                                            <option>{{ d.tenBenh }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="medicine-form">
                    <table class="table">
                        <tr>
                            <th>Mã <br> phiếu khám</th>

                            <th>Thuốc</th>
                            <th>Đơn vị</th>
                            <th>Số lượng</th>
                            <th>Cách dùng</th>
                        </tr>
                        {% for t in thuoc_trong_ctpk %}
                        <tr>
                            <td>{{ t.phieuKham_id }}</td>

                            <td>{{ t.tenThuoc }}</td>
                            <td>{{ t.donViThuoc }}</td>
                            <td>{{ t.soLuongThuoc }}</td>
                            <td>{{ t.moTa }}</td>

                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="bt-save form-floating mt-3 mb-3 text-center">
                    <input type="submit" value="Lưu" class="btn btn-warning"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="noti-click">
    <div class="noti-info alert alert-warning">
        Tạo phiếu <strong>thành công &#10004</strong>
    </div>
</div>

{% else %}
<h1>GOOD</h1>
{% endif %}

{% endblock %}