{% extends 'layout/base.html' %}

{% block content %}

<head>
    <link href="{{ url_for('static', filename='css/index_register_medical.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/index_main.css') }}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
</head>


<div class="register_medical container-fluid">
    {% if current_user.is_authenticated %}
    <div class="user row">
        <div class="user-left col-sm-3">
            <div class="content">
                <div class="user-center-img">
                    <img style="border-radius: 50%" src="{{ current_user.anhDaiDien }}"
                         alt="{{ current_user.tenUser }}">
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title">Mã bệnh nhân: {{ current_user.id }}</h4>
                    <h4 class="card-title">{{ current_user.tenUser }}</h4>
                     <h4 class="card-title">SĐT: {{ current_user.soDienThoai }}</h4>
                    <h4 class="card-title">Vai trò: {{ current_user.user_role.name }}</h4>
                    <h4 class="card-title">Ngày sinh: {{ current_user.ngaySinh }}</h4>
                    <h4 style="color: blue">ONLINE <i class="fas fa-toggle-on"></i></h4>
                </div>
            </div>
        </div>
        <div class="user-center col-sm-4">
            <div class="content">
                <strong>LƯU Ý:</strong>
                <p>Lịch khám có hiệu lực sau khi có xác nhận từ chính thức từ Hệ thống phòng mạch IMPROOK.</p>
                <p>Quý khách sử dụng dịch vụ đặt lịch khám trực tuyến, xin vui lòng đặt trước ít nhất là 48 giờ
                    trước khi đến khám.</p>
                <p>Trong trường hợp khẩn cấp hoặc nghi ngờ có các triệu chứng nguy hiểm, quý khách vui lòng ĐẾN TRỰC
                    TIẾP Phòng khám hoặc các trung tâm y tế gần nhất để kịp thời xử lý.</p>
            </div>
        </div>
        <div class="user-right col-sm-5">
            <div class="content">
                <h2>ĐĂNG KÝ KHÁM BỆNH</h2>
                <p>Quý khách vui lòng điền thông tin khám bệnh</p>
                <div class="medical-register">
                    <form method="post" enctype="multipart/form-data" action="user_dang_ky_kham">
                        <div class="form-floating mb-2 mt-2">
                            <input type="text" class="form-control" required id="user_dang_ky_kham"
                                   name="user_dang_ky_kham">
                            <label for="user_dang_ky_kham">Nhập số điện thoại của bạn</label>
                        </div>
                        <div class="form-floating mt-3 mb-3">
                            <input type="submit" value="Đăng ký khám" class="btn btn-info"/>
                        </div>
                        {% if err_msg %}
                        <div class="alert alert-danger">
                            {{ err_msg }}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <!--    <div class="index">-->
    <!--        <div class="index-content">-->
    <!--            <img src="static/picture/IMPROOK.png" style="width: 34%" alt="IMPROOK"/>-->
    <!--            <h3>Chào mừng bạn đến với hệ thống phòng mạch I'MPROOK</h3>-->
    <!--            <h4>Hệ thống phòng mạch hàng đầu tại Việt Nam</h4>-->
    <!--        </div>-->

    <!--        <div class="container-fluid">-->
    <!--            <div class="service row">-->
    <!--                <div class="service-left col-sm-6 bg-primary">-->
    <!--                    <div class="service-left-1">-->
    <!--                        <img src="https://www.umcclinic.com.vn/Data/Sites/1/News/210/1goi-kham-suc-khoe-tong-quat-chuyen-sau.jpg"-->
    <!--                             alt="">-->
    <!--                    </div>-->
    <!--                    <div class="service-left-2">-->
    <!--                        <img src="https://www.umcclinic.com.vn/Data/Sites/1/News/210/1goi-kham-suc-khoe-tong-quat-chuyen-sau.jpg"-->
    <!--                             alt="">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="service-right col-sm-6 bg-dark">-->
    <!--                    <p>Sed ut perspiciatis...</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="carousel-context">-->
    <!--            <h2>Tại sao lại chọn chúng tôi?</h2>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--  TEST  -->
    <!--    <div id="slider">-->
    <!--        <div class="text-content">-->
    <!--        </div>-->
    <!--    </div>-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://res.cloudinary.com/dhwuwy0to/image/upload/v1671426162/5_oe3zsm.png"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dhwuwy0to/image/upload/v1671426159/3_zglmnj.png"
                     class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dhwuwy0to/image/upload/v1671426163/4_cvok30.png"
                     class="d-block w-100" alt="...">

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section class="home-service">
        <div class="container">
            <div class="row">
                <div class="col w-full lg:w-1/2">
                    <div class="Module Module-212">
                        <div class="ModuleContent">
                            <div class="section-title">
                                <span>Dịch vụ</span>
                                <em class="mdi mdi-gamepad">
                                <span>
                                </span>
                                    <span>
                                </span>
                                </em>
                            </div>
                            <div class="swiper-home-service">
                                <div
                                        class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-multirow">
                                    <div class="swiper-wrapper" style="width: 920px;">
                                        <div class="swiper-slide swiper-slide-active" data-swiper-column="0"
                                             data-swiper-row="0" style="order: 0; width: 276.5px; margin-right: 30px;">
                                            <div class="news-service">
                                                <div class="image-wrap shine">
                                                    <a href="" title="GÓI KHÁM SỨC KHOẺ TỔNG QUÁT DIAMOND">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/Banner/b50cd6472cc7dd9984d6.jpg"
                                                             alt="GÓI KHÁM SỨC KHOẺ TỔNG QUÁT PLATINUM"
                                                             src="https://res.cloudinary.com/dhwuwy0to/image/upload/v1671426163/4_cvok30.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="GÓI KHÁM SỨC KHOẺ TỔNG QUÁT PLATINUM">GÓI KHÁM
                                                            SỨC KHOẺ TỔNG QUÁT DIAMOND</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="swiper-slide" data-swiper-column="1" data-swiper-row="0"
                                             style="-webkit-box-ordinal-group: 1; order: 1; width: 276.5px; margin-right: 30px;">
                                            <div class="news-service">
                                                <div class="image-wrap shine">
                                                    <a href="" title="GÓI KHÁM SỨC KHOẺ TỔNG QUÁT CHUYÊN SÂU">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/Banner/b50cd6472cc7dd9984d6.jpg"
                                                             alt="GÓI KHÁM SỨC KHOẺ TỔNG QUÁT CHUYÊN SÂU"
                                                             src="https://res.cloudinary.com/dhwuwy0to/image/upload/v1671426162/5_oe3zsm.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="GÓI KHÁM SỨC KHOẺ TỔNG QUÁT CHUYÊN SÂU">GÓI
                                                            KHÁM SỨC KHOẺ TỔNG QUÁT RUBY</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-column="1" data-swiper-row="1"
                                             style="-webkit-box-ordinal-group: 4; order: 4; width: 276.5px; margin-right: 30px;">
                                            <div class="news-service">
                                                <div class="image-wrap shine">
                                                    <a href="" title="GÓI KHÁM SỨC KHOẺ TỔNG QUÁT NÂNG CAO">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/Banner/b50cd6472cc7dd9984d6.jpg"
                                                             alt="GÓI KHÁM SỨC KHOẺ TỔNG QUÁT NÂNG CAO"
                                                             src="https://res.cloudinary.com/dhwuwy0to/image/upload/v1671426160/6_fmchom.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="GÓI KHÁM SỨC KHOẺ TỔNG QUÁT NÂNG CAO">GÓI KHÁM
                                                            SỨC KHOẺ TỔNG QUÁT BASIC</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-column="2" data-swiper-row="1"
                                             style="-webkit-box-ordinal-group: 5; order: 5; margin-top: 30px; width: 276.5px; margin-right: 30px;">
                                            <div class="news-service">
                                                <div class="image-wrap shine">
                                                    <a href="" title="KHÁM SỨC KHỎE TỔNG QUÁT VÀ TẦM SOÁT UNG THƯ">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/Banner/b50cd6472cc7dd9984d6.jpg"
                                                             alt="KHÁM SỨC KHỎE TỔNG QUÁT VÀ TẦM SOÁT UNG THƯ"
                                                             src="https://res.cloudinary.com/dhwuwy0to/image/upload/v1671426159/3_zglmnj.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="KHÁM SỨC KHỎE TỔNG QUÁT VÀ TẦM SOÁT UNG THƯ">GÓI
                                                            KHÁM SỨC KHOẺ TỔNG QUÁT PLATIUM</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-column="2" data-swiper-row="1"
                                             style="-webkit-box-ordinal-group: 5; order: 5; margin-top: 30px; width: 276.5px; margin-right: 30px;">
                                            <div class="news-service">
                                                <div class="image-wrap shine">
                                                    <a href="" title="KHÁM SỨC KHỎE TỔNG QUÁT VÀ TẦM SOÁT UNG THƯ">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/Banner/b50cd6472cc7dd9984d6.jpg"
                                                             alt="KHÁM SỨC KHỎE TỔNG QUÁT VÀ TẦM SOÁT UNG THƯ"
                                                             src="https://res.cloudinary.com/dhwuwy0to/image/upload/v1671426159/2_g963g2.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="KHÁM SỨC KHỎE TỔNG QUÁT VÀ TẦM SOÁT UNG THƯ">GÓI
                                                            KHÁM SỨC KHOẺ TỔNG QUÁT SILVER</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-column="2" data-swiper-row="1"
                                             style="-webkit-box-ordinal-group: 5; order: 5; margin-top: 30px; width: 276.5px; margin-right: 30px;">
                                            <div class="news-service">
                                                <div class="image-wrap shine">
                                                    <a href="" title="KHÁM SỨC KHỎE TỔNG QUÁT VÀ TẦM SOÁT UNG THƯ">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/Banner/b50cd6472cc7dd9984d6.jpg"
                                                             alt="KHÁM SỨC KHỎE TỔNG QUÁT VÀ TẦM SOÁT UNG THƯ"
                                                             src="https://res.cloudinary.com/dhwuwy0to/image/upload/v1671426157/7_qlxtbe.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="KHÁM SỨC KHỎE TỔNG QUÁT VÀ TẦM SOÁT UNG THƯ">GÓI
                                                            KHÁM SỨC KHOẺ TỔNG QUÁT GOLD</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col w-full lg:w-1/2">
                    <div class="Module Module-163">
                        <div class="ModuleContent">
                            <div class="section-title">
                                <span>Chuyên khoa</span>
                                <em class="mdi mdi-gamepad">
                                <span>
                                </span>
                                    <span>
                                </span>
                                </em>
                            </div>
                            <div class="swiper-home-specialist">
                                <div
                                        class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-multirow">
                                    <div class="swiper-wrapper" style="width: 1206px;">
                                        <div class="swiper-slide swiper-slide-active" data-swiper-column="0"
                                             data-swiper-row="0"
                                             style="order: 0; width: 583px; margin-right: 20px; margin-top: 1.5%">
                                            <div class="specialist-item">
                                                <div class="image-wrap">
                                                    <a href="" title="Chẩn đoán hình ảnh">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png"
                                                             alt="Chẩn đoán hình ảnh"
                                                             src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="Chẩn đoán hình ảnh">Chẩn đoán hình
                                                            ảnh</a>
                                                    </div>
                                                    <div class="btn-left">
                                                        <a class="btn btn-view-more" href="" title="Chẩn đoán hình ảnh">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-next" data-swiper-column="0"
                                             data-swiper-row="1"
                                             style="-webkit-box-ordinal-group: 2; order: 2; margin-top: 20px; width: 583px; margin-right: 20px;">
                                            <div class="specialist-item">
                                                <div class="image-wrap">
                                                    <a href="" title="Cơ - xương - khớp">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png"
                                                             alt="Cơ - xương - khớp"
                                                             src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="Cơ - xương - khớp">Cơ - xương -
                                                            khớp</a>
                                                    </div>
                                                    <div class="btn-left">
                                                        <a class="btn btn-view-more" href="" title="Cơ - xương - khớp">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-column="0" data-swiper-row="2"
                                             style="-webkit-box-ordinal-group: 4; order: 4; margin-top: 20px; width: 583px; margin-right: 20px;">
                                            <div class="specialist-item">
                                                <div class="image-wrap">
                                                    <a href="" title="Nhi khoa">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png"
                                                             alt="Nhi khoa"
                                                             src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="Nhi khoa">Nhi khoa</a>
                                                    </div>
                                                    <div class="btn-left">
                                                        <a class="btn btn-view-more" href="" title="Nhi khoa">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-column="0" data-swiper-row="3"
                                             style="-webkit-box-ordinal-group: 6; order: 6; margin-top: 20px; width: 583px; margin-right: 20px;">
                                            <div class="specialist-item">
                                                <div class="image-wrap">
                                                    <a href="" title="Sản - Phụ khoa">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png"
                                                             alt="Sản - Phụ khoa"
                                                             src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="Sản - Phụ khoa">Sản - Phụ khoa</a>
                                                    </div>
                                                    <div class="btn-left">
                                                        <a class="btn btn-view-more" href="" title="Sản - Phụ khoa">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-column="0" data-swiper-row="4"
                                             style="-webkit-box-ordinal-group: 8; order: 8; margin-top: 20px; width: 583px; margin-right: 20px;">
                                            <div class="specialist-item">
                                                <div class="image-wrap">
                                                    <a href="" title="Tai - Mũi - Họng">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png"
                                                             alt="Tai - Mũi - Họng"
                                                             src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="Tai - Mũi - Họng">Tai - Mũi - Họng</a>
                                                    </div>
                                                    <div class="btn-left">
                                                        <a class="btn btn-view-more" href="" title="Tai - Mũi - Họng">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-column="0" data-swiper-row="4"
                                             style="-webkit-box-ordinal-group: 8; order: 8; margin-top: 20px; width: 583px; margin-right: 20px;">
                                            <div class="specialist-item">
                                                <div class="image-wrap">
                                                    <a href="" title="Tai - Mũi - Họng">
                                                        <img class=" lazyloaded"
                                                             data-src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png"
                                                             alt="Tai - Mũi - Họng"
                                                             src="https://www.umcclinic.com.vn/Data/Sites/1/media/chuyen-khoa/icon-10.png">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="sub-title">
                                                        <a href="" title="Tai - Mũi - Họng">Tai - Mũi - Họng</a>
                                                    </div>
                                                    <div class="btn-left">
                                                        <a class="btn btn-view-more" href="" title="Tai - Mũi - Họng">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</div>

{% endblock %}