{% extends 'layout/base.html' %}

{% block content %}

<head>
    <link href="{{ url_for('static', filename='css/index_register_medical.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/index_main.css') }}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
</head>


<div class="register_medical container-fluid">
    {% if current_user.is_authenticated %}
    <div class="user row">
        <div class="user-left col-sm-3">
            <div class="content">
                <div class="user-center-img">
                    <img style="border-radius: 50%" src="{{ current_user.anhDaiDien }}"
                         alt="{{ current_user.tenUser }}">
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title">{{ current_user.tenUser }}</h4>
                    <h4 class="card-title">{{ current_user.user_role.name }}</h4>
                    <h4 class="card-title">{{ current_user.ngaySinh }}</h4>
                    <h4 style="color: blue">ONLINE <i class="fas fa-toggle-on"></i></h4>
                </div>
            </div>
        </div>
        <div class="user-center col-sm-4">
            <div class="content">
                <strong>LƯU Ý:</strong>
                <p>Lịch khám có hiệu lực sau khi có xác nhận từ chính thức từ Hệ thống phòng mạch IMPROOK.</p>
                <p>Quý khách sử dụng dịch vụ đặt lịch khám trực tuyến, xin vui lòng đặt trước ít nhất là 48 giờ
                    trước khi đến khám.</p>
                <p>Trong trường hợp khẩn cấp hoặc nghi ngờ có các triệu chứng nguy hiểm, quý khách vui lòng ĐẾN TRỰC
                    TIẾP Phòng khám hoặc các trung tâm y tế gần nhất để kịp thời xử lý.</p>
            </div>
        </div>
        <div class="user-right col-sm-5">
            <div class="content">
                <h2 style="font-weight: bold">ĐĂNG KÝ KHÁM BỆNH</h2>
                <p>Quý khách vui lòng điền thông tin khám bệnh</p>
                <div class="medical-register">
                    <form method="post" enctype="multipart/form-data" action="user_dang_ky_kham">
                        <div class="form-floating mb-2 mt-2">
                            <input type="text" class="form-control" required id="user_dang_ky_kham"
                                   name="user_dang_ky_kham">
                            <label for="user_dang_ky_kham">Nhập số điện thoại của bạn</label>
                        </div>
                        <div class="form-floating mt-3 mb-3">
                            <input type="submit" value="Đăng ký khám" class="btn btn-info"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="index">
        <div class="index-content">
            <img src="static/picture/IMPROOK.png" style="width: 34%" alt="IMPROOK"/>
            <h3>Chào mừng bạn đến với hệ thống phòng mạch I'MPROOK</h3>
            <h4>Hệ thống phòng mạch hàng đầu tại Việt Nam</h4>
        </div>

        <div class="container-fluid">
            <div class="service row">
                <div class="service-left col-sm-6 bg-primary">
                    <div class="service-left-1">
                        <img src="https://www.umcclinic.com.vn/Data/Sites/1/News/210/1goi-kham-suc-khoe-tong-quat-chuyen-sau.jpg"
                             alt="">
                    </div>
                    <div class="service-left-2">
                        <img src="https://www.umcclinic.com.vn/Data/Sites/1/News/210/1goi-kham-suc-khoe-tong-quat-chuyen-sau.jpg"
                             alt="">
                    </div>
                </div>
                <div class="service-right col-sm-6 bg-dark">
                    <p>Sed ut perspiciatis...</p>
                </div>
            </div>
        </div>
        <div class="carousel-context">
            <h2>Tại sao lại chọn chúng tôi?</h2>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}