{% extends 'layout/base.html' %}

{% block content %}

<head>
    <link href="{{ url_for('static', filename='css/lich_su_benh.css') }}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
</head>


<div class="history_medical container-fluid">
    {% if current_user.is_authenticated %}
    <div class="user row">
        <div class="user-left col-sm-3">
            <div class="content">
                <div class="user-left-img">
                    <img style="border-radius: 50%" src="{{ current_user.anhDaiDien }}"
                         alt="{{ current_user.tenUser }}">
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title">Mã bệnh nhân: {{ current_user.id }}</h4>
                    <h4 class="card-title">{{ current_user.tenUser }}</h4>
                    <h4 class="card-title">SĐT: {{ current_user.soDienThoai }}</h4>
                    <h4 class="card-title">Vai trò: {{ current_user.user_role.name }}</h4>
                    <h4 class="card-title">Ngày sinh: {{ current_user.ngaySinh }}</h4>
                    <h4 style="color: blue">ONLINE <i class="fas fa-toggle-on"></i></h4>
                </div>
            </div>
        </div>


        <div class="user-right col-sm-9">
            <div class="content">
                <h1 style="font-weight: bold">LỊCH SỬ BỆNH</h1>
                <hr>
                {% if current_user.user_role.value == 4 or current_user.user_role.value == 5 %}
                <form class="null" method="post" enctype="multipart/form-data" action="/lay_ma_benh_nhan_xem_lich_su_benh">
                    <div class="null">
                        <input type="text" class="form-control" required id="id_benh_nhan"
                               placeholder="Nhập mã bệnh nhân..."
                               name="id_benh_nhan">
                    </div>
                    <div class="mt-1 mb-1">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </form>
                {% if err_msg %}
                <div class="alert alert-danger">
                    {{ err_msg }}
                </div>
                {% endif %}
                {% endif %}
                <div class="history">
                    <table class="table">
                        <tr>
                            <th>Mã lịch sử bệnh</th>
                            <th>Mã bệnh nhân</th>
                            <th>Tên bệnh nhân</th>
                            <th>Tên bệnh</th>
                            <th>Ngày khám</th>
                        </tr>
                        {% if load_lich_su_benh_in_view and current_user.user_role.value == 4 or current_user.user_role.value == 5%}
                            {% for lsb in load_lich_su_benh_in_view %}
                            <tr>
                                <td>{{ lsb.id }}</td>
                                <td>{{ lsb.user_id }}</td>
                                <td>{{ lsb.tenUser }}</td>
                                <td>{{ lsb.chuanDoan }}</td>
                                <td>{{ lsb.ngayKham }}</td>
                            </tr>

                            {% endfor %}
                        {% endif %}

                        {% if lsb_for_crr and current_user.user_role.value != 4 or current_user.user_role.value == 5%}
                            {% for lsb in lsb_for_crr %}
                            <tr>
                                <td>{{ lsb.id }}</td>
                                <td>{{ lsb.user_id }}</td>
                                <td>{{ lsb.tenUser }}</td>
                                <td>{{ lsb.chuanDoan }}</td>
                                <td>{{ lsb.ngayKham }}</td>
                            </tr>
                            {% endfor %}
                         {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}
<h1>GOOD</h1>
{% endif %}

{% endblock %}