{% extends 'layout/base.html' %}

{% block content %}

<head>
    <link href="{{ url_for('static', filename='css/lich_su_benh.css') }}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
</head>


<div class="history_medical container-fluid">
    {% if current_user.is_authenticated %}
    <div class="user row">
        <div class="user-left col-sm-3">
            <div class="content">
                <div class="user-left-img">
                    <img style="border-radius: 50%" src="{{ current_user.anhDaiDien }}"
                         alt="{{ current_user.tenUser }}">
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title">{{ current_user.tenUser }}</h4>
                    <h4 class="card-title">{{ current_user.user_role.name }}</h4>
                    <h4 class="card-title">{{ current_user.ngaySinh }}</h4>
                    <h4 style="color: blue">ONLINE <i class="fas fa-toggle-on"></i></h4>
                </div>
            </div>
        </div>

        <div class="user-right col-sm-9">
            <div class="content">
                <h1 style="font-weight: bold">LỊCH SỬ BỆNH</h1>
                <hr>
                <div class="history">
                    <table class="table">
                        <tr>
                            <th>Ngày khám</th>
                            <th>Tên bệnh</th>
                        </tr>
                        {% for t in thuoc_trong_ctpk %}
                        <tr>
                            <td>{{ t.id }}</td>
                            <td>{{ t.tenThuoc }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<h1>GOOD</h1>
{% endif %}

{% endblock %}