* {
    font-family: Tahoma;
}

body {
    background-color: #e6e6e6;
}

nav.all-header {
    background-color: black;
}

ul.navbar-nav {
    width: 100% !important;
    margin: 0 !important;
}

ul.navbar-nav > li.nav-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;

}

ul.navbar-nav > li.nav-item > a >img {
   margin: 0 auto;
}

div.container-fluid > a.navbar-brand{
    font-weight: bold;
}


div.carousel-inner{
    width: 90% !important;
    margin: 0 auto;
}