<nav class="all-header navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="static/picture/LogoIcon.png" style="width: 50px" alt="I'MPROOK"/>
        </a>
        <a class="navbar-brand" href="#">PHÒNG MẠCH TƯ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-success" href="/login">
                        <img src="{{ current_user.anhDaiDien }}" width="40" class="rounded-circle" alt="{{ current_user.tenUser }}" />
                        {{ current_user.tenUser }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/nurse">Lập danh sách khám</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/doctor">Lập phiếu khám</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="#">Xem lịch sử bệnh</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link text-success" href="/cashier">Thanh toán hóa đơn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout">Đăng xuất</a>
                </li>
                {% else %}
                 <li class="nav-item">
                    <a class="nav-link text-success" href="/login">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/register">Đăng ký</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>